.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px;
    letter-spacing: 3px;
    background-color: var(--bs-body-color);
    color: white;
    text-align: center;
}
.containerss{
    text-align: center;
    align-items: center;
    color: red;
    letter-spacing: 2px;
    font-size: 20px;
} 
.navlinks{
    text-decoration: none;
    color: rgb(67, 149, 226);
}